// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Roboto:700,300');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
    background: #eaeaea;
}
a {
    text-decoration: none !important;
    margin: 0;
    padding: 0;
    color: #2a2a2a;
}
a:hover{
    color: #cb5444;
}
.b{
    border:solid green;
}
.content.bm{
    margin-left: 20%;
}
.burger-menu__button {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 30;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #2a2a2a;
    transition: 0.4s;
}

.burger-menu__button:hover .burger-menu__lines {
    filter: brightness(0.7);
}

.burger-menu__lines,
.burger-menu__lines::after,
.burger-menu__lines::before {
    position: absolute;
    width: 20px;
    height: 4px;
    background-color: #fff;

}

.burger-menu__lines {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.burger-menu__lines::before {
    content: "";
    top: -6px;
}

.burger-menu__lines::after {
    content: "";
    top: 6px;
}
.burger-menu_active .burger-menu__button,
.burger-menu_active .burger-menu__lines {
    background-color: transparent;
}


.burger-menu_active .burger-menu__lines::before {
    top: 0;
    transform: rotate(45deg);
}

.burger-menu_active .burger-menu__lines::after {
    top: 0;
    transform: rotate(-45deg);
}

.burger-menu__nav {
    padding-top: 80px;
    position: fixed;
    z-index: 20;
    display: flex;
    flex-flow: column;
    height: 100%;
    background-color: #2a2a2a;
    overflow-y: auto;
    left: -100%;
    transition: 0.5s;
}

.burger-menu_active .burger-menu__nav {
    left: 0;
}

.burger-menu__link {
    padding: 15px;
    font-family: sans-serif;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    color: #fff;
}

.burger-menu__link :hover {
    color: #cb5444;
}

.burger-menu__overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}
.burger-menu_active .burger-menu__overlay {
    display: block;
}
.desk_bg{
    background: #2a2a2a;
    border-radius: 10px;
    height: 40px;
    justify-content: center;
}

/***************************************/

.form-style-6{
    font: 95% Arial, Helvetica, sans-serif;
    max-width: 400px;
    margin: 10px auto;
    padding: 16px;
    border: 1px solid #2a2a2a;
    //background: rgba(0, 0, 0, 0.0);
    background: #f5f5f5;
}
.form-style-6 h1{
    background: #cb5444;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px;
}

.a_input,
.form-style-6 textarea,
.form-style-6 select
{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #2a2a2a;
    padding: 3%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
}

.a_input:focus,
.form-style-6 textarea:focus,
.form-style-6 select:focus,
{
    box-shadow: 0 0 5px #cb5444;
    padding: 3%;
    border: 1px solid #cb5444;
}
.btn-success{
    background: #cb5444;
    border: #cb5444;
}
.btn-success:hover{
    background: #cb5444;
    box-shadow: 0 0 5px #cb5444;
}
.btn-success:active{
    background: #cb5444!important;
    border: #cb5444!important;
    box-shadow: 0 0 5px #cb5444!important;
}

.items {

}
.items-row {
    margin: 15px;
    width: 300px;
    min-height: 250px;
    max-height: 300px;
    float: left;
    padding: 15px;
    box-shadow: 0 0 8px #555;
    filter: grayscale(100%);

}

.items-row:hover{
    box-shadow: 0 0 8px #cb5444;
    filter:none;
}

.items-text {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
.post-thumbnail{
    max-width: 100%;
    max-height: 50%;
}
.post-image{
    max-width:198px;
    max-height:102px;
}
.tc{
    font-family: "Nunito", sans-serif;
    font-weight: bold;
}
