<template>
    <div>

    </div>
</template>

<script>
    import axios from 'axios';
    export default {
        name: "Desk",
        data: ()=>{
            return{
                desks:[],//данные из контроллера
                is_refresh: false,//статус ajax
                id: 0,//счетчик обновления
                is_sent: false
            }
        },
        mounted(){
            this.update()
        },
        methods:{
            update: function (){

            },
            send: function(){

            }
        }
    }
</script>

<style scoped>

</style>
